<!doctype html>
<html lang="en">
<%- include('partials/head', { title: text.title, styles: ['/css/base.css'] }) %>

  <body>
    <div class="center-card">
      <h1><%= text.login.header %></h1>
      <form id="login-form" class="auth-form form-container">
        <label><%= text.login.username_label %></label>
        <input name="username" type="text" required />
        <label><%= text.login.password_label %></label>
        <input name="password" type="password" required />
        <button type="submit"><%= text.login.signin_button %></button>
        <div id="login-error" class="error"></div>

        <button id="show-register-link" type="button" class="hidden-link" style="margin-top:.5rem;">
          <%= text.login.new_here_link %>
        </button>
      </form>

      <form id="register-form" class="auth-form form-container hidden">
        <label><%= text.register.username_label %></label>
        <input name="username" type="text" required />
        <label><%= text.register.email_label %></label>
        <input name="email" type="email" required />
        <label><%= text.register.password_label %></label>
        <input id="pwd" name="password" type="password" required minlength="8" />
        <div id="password-requirements" class="helper-password">
          <p id="length" class="requirement invalid"><%= text.register.length_req %></p>
          <p id="uppercase" class="requirement invalid"><%= text.register.uppercase_req %></p>
          <p id="number" class="requirement invalid"><%= text.register.number_req %></p>
          <p id="special" class="requirement invalid"><%= text.register.special_req %></p>
        </div>
        <label><%= text.register.confirm_password_label %></label>
        <input name="confirm-password" type="password" required minlength="8" />
        <button type="submit"><%= text.register.register_button %></button>
        <div id="register-error" class="error"></div>
        <button id="show-login-link" type="button" class="hidden-link" style="margin-top:.5rem;">
          <%= text.register.already_account_link %>
        </button>
      </form>
    </div>

    <script type="module" src="/js/auth.js"></script>
  </body>

</html>